
/* General styles */
body {
    font-family: sans-serif;
    margin: 20px;
}

.foodTitle {
    text-align: center;
    margin-bottom: 10px;
}

/* Food item styles */
.ulFoods {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Distribute items evenly */
}

.liFoods {
    width: 25%;
    /* Adjust as needed */
    margin-bottom: 15px;
    text-align: center;
}

.foodImg {
    width: 100%;
    height: auto;
}

.foodItem {
    margin-top: 10px;
    /* Add space between image and description */
}

.foodDesc,
.foodPrice {
    margin-bottom: 5px;
}

.foodPrice {
    font-weight: bold;
}
